body {
    margin: 0;
  }
  
  canvas {
    width: 100%;
    height: 100%;
  }
  
  #btnRandom {
    position: absolute;
    font-size: 20px;
    width: 10%;
    height: 5%;
    margin-top: 1%;
    margin-left: 1%;
  };